html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
nav {
	/*
   * Debugging
	 * border: 1px solid black;
  */
}
nav ul {
	/*
   * Debugging
	 * border: 1px dotted red;
  */
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav li {
	/*
   * Debugging
	 * border: 1px dashed green;
  */
	margin: 2rem 0;
}
